# Univarient,Bi-Varient and Multi-Varient Analysis

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv(r'C:\Users\Abhishek\Downloads\iris.data',header=None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [42]:
df.columns=['sepal_length','sepal_width','petal_lenght','petal-width','species']

In [43]:
df.head()

   sepal_length  sepal_width  petal_lenght  petal-width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [21]:
df.shape

(150, 5)

## Univarient Analysis

In [36]:
df_setosa=df.loc[df['species']=='Iris-setosa']

In [37]:
df_versicolor=df.loc[df['species']=='Iris-versicolor']

In [38]:
df_virginica=df.loc[df['species']=='Iris-virginica']

In [47]:
plt.plot(df_setosa=['sepal_length'],np.zero_like(df_setosa=['sepal_length']))

SyntaxError: positional argument follows keyword argument (<ipython-input-47-2dd2eeac7268>, line 1)